body{
    background-color:#FF5DA2;               /* dark pink color */
    color:white;
}

.body1{
    background-color:white;               /* whitecolor */
    color:black;
}

.body2{
    background:#FFE15D;          /* yellow color */

}

.body3{
     background:#FED049;            /* Sandal color */
     color:blue;
     margin:35px;
}

.body4{
    background:#00FFDD;           /* light blue  color */
    color:blue;

}


.body5{
    background:#FF99D7;           /* light blue  color */
    color:blue;
    margin:30px;

}



   /* ********************************************************************* size  zone ends   *********************************    */
   /* **********************************************************************  size zone   *********************************    */


.size01{                                    /* sandal with pink MAIN HEADING */
    font-size:2.5vw;
    color:#FB2576;
    font-weight:bold;
    font-style:italic;
    text-decoration:underline;
}


.size02{                                    /* sandal with pink SUB HEADING */
    font-size:2vw;
    color:#FB2576;
    font-weight:bold;
    font-style:italic;
    text-decoration:underline;
}

.size03{                                     /* sandal with pink container Letters */
    font-size:1.7vw;
    color:blue;
    font-weight:bold;

}

.size04{                                    /* sandal with blue MAIN HEADING */
    font-size:2.5vw;
    color:blue;
    font-weight:bold;
    font-style:italic;
    text-decoration:underline;
}



.size05{                                    /* sandal with pink MAIN HEADING */
    font-size:2.5vw;
    color:orange;
    font-weight:bold;
    font-style:italic;
    text-decoration:underline;
}


.size06{                                    /* sandal with pink SUB HEADING */
    font-size:2vw;
    color:orange;                             /*  #FB2576 */
    font-weight:bold;
    font-style:italic;
    text-decoration:underline;
}

.size07{                                     /* sandal with pink container Letters */
    font-size:1.7vw;
    color:white;
    font-weight:bold;
}

.size08{                                     /* sandal with pink container Letters */
    font-size:2vw;
    color:yellow;
    font-weight:bold;
    font-style:italic;
    text-decoration:underline;
    margin-left:10px;
}

.size09{                                     /* sandal with pink container Letters */
    font-size:1.5vw;
    color:white;
    margin-left:30px;
}

.size10{                                     /* sandal with pink container label color*/
    font-size:1.3vw;
    color:white;
    font-weight:bold;
}


#s01{                                     /* sandal with pink container label color*/
    font-size:1.3vw;
    color:blue;
    font-weight:bold;
}
.size11{
    font-size:1.5vw;
    color:green;
}


           /* ********************************************************  container colors    *********************************    */
            /* *******************************************************  container colors    *********************************    */

#sandal01{
    background:#FED049;
    color:blue;
    font-size:1.5vw;
    height:930px;
    }

#sandal02{
    background:#FFE15D;
    color:blue;
    font-size:1.5vw;
    height:930px;
    }

#sandal03{
    background:#FED049;
    color:blue;
    font-size:1.5vw;
    }

#sandal04{
    background:#FFE15D;
    color:blue;
    font-size:1.5vw;

    }

#blue01{
    background:#144272;
    height:900px;
    }

#blue02{
    background:#0A2647;
    height:900px;
    }





          /* ********************************************************  container colors    *********************************    */
        /* **********************************************************  container colors    *********************************    */

.container08{
    background-color:teal;
    color:white;
    margin-bottom:70px;
}


.container07{
    background-color:teal;
    color:white;
    margin-bottom:70px;
}


.container03{
    width:95%;
    height:auto;
    background:#00ffdd;
    margin:40px;
    color:black;
    }

.container6{
    margin-bottom:10px;

}

.container2{
    width:100%;
    height:auto;
    background:gold;
    }

.container01{
    background:blue;
    color:orange;
}


.container09{
   background:white;
   color:blue;
   margin:35px;
   margin-top:40px;
}

.container15{
    margin-left:40px;
    margin-bottom:40px;
    margin-right:20px;
    margin-top:12opx;
}

 /* *******************************************************************  other styles   *********************************    */
  /* *******************************************************************  other styles   *********************************    */

.highlight{
     font-size:2.5vw;
     text-transform:uppercase;
     color:orange;
}


hr.new1{
    border-top:3px dashed red;
    border-radius:5px;
}


.tab{
    display:inline-block;
    margin-left:100px;

}

.tab1{
    display:inline-block;
    margin-left:50px;

}

.linespace{
    line-height:50px;
}

#linespace{
    line-height:39px;
    margin-left:30px;
}

.shadow{
    background-color:#172774;
    box-shadow:5px 5px 15px black;
    padding:30px;
}


.mandatory{
    color:red;
}

#schoolname{
    background-color:#172774;
    color:white;
    font-size:3vw;
}

#head01{                                /* ************************ heading at activities****************    */
    background:#FED049;
    color:blue;
    font-weight:bold;
    text-align:center;
    text-transform:uppercase;
    font-size:1.5vw
}


#head02{                                /* ************************ heading at activities****************    */
    background:orange;
    color:blue;
    font-weight:bold;
    text-align:center;
    text-transform:uppercase;
    font-size:1.5vw
}


#head03{                                /* ************************ heading at activities****************    */
    background:#B01E68;
    color:blue;
    font-weight:bold;
    text-align:center;
    text-transform:uppercase;
    font-size:1.5vw
}

#head04{                                /* ************************ heading at activities****************    */
    background:orange;
    color:blue;
    font-weight:bold;

    font-size:1.5vw
}








 /* ******************************************************************* old  *********************************    */
  /* *******************************************************************  old  *********************************    */





.boldme{
font-size:2vw
}


.boldmes{
font-size:1.5vw
}


.tablehead{
    background-color:orange;
    color:white;
    font-size:3vw;
}




#tablefont{
    color:black;
    font-size:1.5vw;
}

tr:nth-child(even){
    background-color:LIGHTGREEN;
}

tr:nth-child(odd){
    background-color:#4DB4D7;

}



.box10{
    background-color:#FB2576;
    width:50%;
    height:10px;
}

.cimg{
    width:80%;
    height:500px;
    margin-left:100px;
    margin-bottom:70px;
}

.imagesmall{
    width:100%;
    min-height:10%;
    max-height:15%;



#colorblue1{
    background:#144272;
    height:650px;
    }

#mycarousel{
    margin-bottom:50px;
}{
   width:100%;
   height:20px;

}


#colorblue3{
    background:#144272;
    height:900px;
    }


#colorblue4{
    background:#0A2647;
    height:900px;
    }

#colorsandal5{
    background:#FED049;
    color:blue;
    font-size:1.5vw;
    height:930px;
    }

#colorsandal6{
    background:#FFE15D;
    color:blue;
    font-size:1.5vw;
    height:930px;
    }

.size1{
    font-size:1.5vw;
    font-weight:bold;
}


.size2{
    font-size:2vw;
    color:orange;
    font-weight:bold;
}

.size3{
    font-size:2vw;
    color:blue;
    font-weight:bold;
}




#sandal1{
    background:#FED049;
    color:blue;
    font-size:1.5vw;
    height:1500px;
    }

#sandal2{
    background:#FFE15D;
    color:blue;
    font-size:1.5vw;
    max-height:2000px;
    }



#linespace{
    line-height:39px;
    margin-left:30px;
}
