<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Pwd</title>
     <script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>

    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='myfont/fontawesome.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">

</head>
<body>



<nav class="navbar navbar-inverse navbar-fixed-top" >

<div class="container-fluid" id="schoolname">
    <center>
        <img src="{{ url_for('static',filename='image2/logo1.jpg')}}" height="50px" class="img img-rounded"
        <h1><b>Lakshan International School</b></h1>
    </center>
</div>
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand"> Lakshan School</a>
        </div>
       <ul class="nav navbar-nav">
           <li ><a href="/Aboutus">About Us</a></li>
           <li><a href="/Skilluplift">Skill Upliftment</a></li>
           <li><a href="/gallery">Photo Gallery</a></li>

       <!__ dropdown Menu ___>

           <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Extra-Curicular
                   <span class="caret"></span>
               </a>
               <ul class="dropdown-menu">

                   <li><a href="/indoorgame">Indoor Games</a></li>
                   <li><a href="/outdoorgames">Outdoorgames</a></li>
                   <li><a href="/culturalmeets"> Miscellanous</a></li>
               </ul>
           </li>

           <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  School
                   <span class="caret"></span>
               </a>
               <ul class="dropdown-menu">

                   <li><a href="/Preprimary">Pre-Primary(kinder garten)</a></li>
                   <li><a href="/primary">Primary (grade I-VIII)</a></li>
                   <li><a href="/highschool">High School </a></li>
               </ul>
           </li>

       </ul>

        <ul class="nav navbar-nav navbar-right">
             <li><a href="/">Home</a></li>
            <li><a href="/Admin_loginpage">Admin Logout </a></li>
            <li><a href="/Adminactivities">Admin Activities </a></li>
        </ul>
    </div>
</nav> # nav ends here



<div class="container" style="margin-top:130px;">
   <div class="col-md-offset-3 col-md-5" >
       <div class="shadow">
           <form action="/admin_forgotpwd" method="POST" autocomplete="off">
               <center><img src="{{url_for('static',filename='image2/logo1.jpg')}}" height="120px" class="img img-circle"></center>

               <h2 class="page-header text-primary"> Admin Password Recovery</h2>
               {% with messages =get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category,message in messages %}
                            <div class="alert alert-{{category}}">{{message}}</div>
                        {% endfor %}
                    {% endif %}
               {% endwith %}
               <div class="form-group">
                   <label class="size10" > Username</label>
                   <input  id="s01" type="text" name="name" class="form-control" required>
               </div>

               <div class="form-group">
                   <label class="size10"> DOB</label>
                   <input  id="s01" type="date" name="dob" class="form-control" required>
               </div>

               <div class="form-group">
                   <input type="submit" value="change password" class="btn btn-success btn-block btn-lg ">
                   <input type="reset" value="clear" class="btn btn-danger btn-block btn-lg ">

               </div>


               </form>
       </div>
   </div>
</div>


</body>
</html>



<script>
    $(document).ready(function() {
    $('.alert').hide(7000)
    });
</script>